h1,
h2,
h3,
h4,
h5 {
  @apply text-black dark:text-white/90 font-heading uppercase tracking-widest;
}

h6 {
  @apply text-white font-heading uppercase text-2xl;
}

p,
li {
  @apply font-body;
}

p {
  @apply text-2xl leading-10 text-black dark:text-white;
}

h1 {
  line-height: 100%;
  font-size: clamp(24px, 10vw, 178px);
}

h2 {
  font-size: 26px;
}
small {
  font-size: 16px;
  display: inline-block;
  @apply font-body text-gray-500;
}
